/* You can add global styles to this file, and also import other style files */
$roboto-font-path: "~roboto-fontface/fonts" !default;
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";
$material-design-icons-font-directory-path: "~material-design-icons-iconfont/dist/fonts/";
@import "~material-design-icons-iconfont/src/material-design-icons";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import "~@angular/material/theming";

// Create a config with the default typography levels.
$config: mat-typography-config();

body {
  font-family: mat-font-family($config);
  margin: 0;
}

.container {
  margin: 10px;
}
